<header
  class="flex justify-between items-center px-10 p-4 bg-blue-700 text-white shadow-md"
>
  <div class="text-xl font-bold">MyLogo</div>

  <nav class="flex space-x-6">
    <div>
      <a href="/" class="hover:text-gray-400">Home</a>
    </div>
    <div>
      <a href="/contact" class="hover:text-gray-400">Contact</a>
    </div>
    <div>
      <a href="/aboutus" class="hover:text-gray-400">About-Us</a>
    </div>
    <div>
      <a href="/other" class="hover:text-gray-400">Other</a>
    </div>
  </nav>
</header>
